$dark: #242526;
$black: #18191A;
$secondary:#3A3B3C;
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";
#navbarSupportedContent .nav-item {
    width: 100px !important;
    &:hover {
        background-color: $secondary;
        border-radius: 10px;
    }
}

#navbarSupportedContent .nav-link {
    color: whitesmoke;
}

.active {
    color: #1d4ed8 !important;
    border-bottom: 3px solid #1d4ed8;
}

.myProfile {
    width: 50px;
    height: 50px;
}

.nav-btn {
    width: 50px;
    height: 50px;
}

.otherProfile {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

ul li {
    list-style: none;
}

.aside-bar-hover:hover {
    background-color: $secondary;
    border-radius: 6px;
}

.friends {
    background: url('./img/asideBar.png');
    background-position: 0px -300px;
    background-size: 38px 570px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.groups {
    background: url('./img/asideBar.png');
    background-position: 0px -75px;
    background-size: 38px 570px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.saved {
    background: url('./img/asideBar.png');
    background-position: 0px -190px;
    background-size: 38px 570px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.mostRecent {
    background: url('./img/mostRecent.png');
    background-position: 0px 0px;
    background-size: 38px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.marketplace {
    background: url('./img/asideBar.png');
    background-position: 0px -420px;
    background-size: 38px 570px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
}

.group-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#asideBar {
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: none;
    }
     ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
     ::-webkit-scrollbar-corner {
        background-color: none;
    }
}

.card {
    height: 200px;
}

.myStory {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.myStory:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.6s;
}

.otherStory {
    height: 100%;
    object-fit: cover;
}

.btnPlus {
    margin-top: -40px;
    right: 35px;
}

.myDayProfile {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.group-profile {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    padding: 1px;
}

.comment-box {
    background-color: $secondary;
    height: auto;
    width: auto;
    border-radius: 20px;
    padding: 8px 7px 8px 7px;
}

.small-icons {
    width: 40px;
    height: 40px;
}

.online-active {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.ads-img {
    width: 100%;
    border-radius: 10px;
}

.smallest-pf {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    padding: 1px;
}

.searchBar {
    width: 250px;
}